{
  "presets": [
    "es2015",
    "stage-0",
    "react",
    "flow"
  ],
  "env": {
    "production": {
      "plugins": [
        ["lodash", { "id": [
          "lodash"
        ]}]
      ]
    },
    "development": {
      "plugins": [
        "flow-react-proptypes"
      ]
    }
  }
}
